body{
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    color:white;

    background-image: url(images/las_vegas.jpeg);
    background-size: auto 100%;
    background-position: center;
}

.content{
    background-color: #1c1c1c;
    padding: 20px;
    margin: 0px 10%;
}


.giochi_img{
    border-style: solid;
    border-width: 2px;
    border-color: #380c10;
}

nav{
    font-size: 30px;
    background-color: #7a1c24;
    border-style: solid ;
    border-color: #FFD700;
    border-width: 2px;
    position: sticky;
    top:0px;
    margin: 0px;
    padding: 20px 0px;
}
.nav{
    text-align: center;
    margin: 0px;
    padding: 20px 40px;
}
#conta_monete{
    color:#FFD700;
    text-align: right;
    margin: 0px;
    padding: 20px 0px 20px 40px;
}

.nav:hover{
    background-color: #541318;
    text-decoration-line: none;
    color:#dab900;
}

#slogan{
    color: #FFD700;
    text-shadow: 0 0 6px #d4b400;
    font-size: 50px;
    text-align: center;
    border-style: dotted;
    border-color:#e4c200;
    border-width: 10px;
    margin: 15px;
    padding: 20px;
}
h2,th{
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0 0 6px #dfdfdf;
}

table{
    margin: 0 auto;
    align-self: center;
    border-style: solid;
    border-width: 2px;
    border-color: #380c10;
    background-color:#7a1c24;
    padding: 0px 25px;
    color: gray;
}

td{
    padding: 20px;
}

.bonus{
    margin:0px 0px 20px 0px;
}

.loginForm{
    margin-bottom: 2000px;
}

#ads{
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 0 6px #dfdfdf;
    text-align: center;
    margin:0;
    padding: 30px;
}

a {
    text-decoration-line: none;
    color:#FFD700;
}
.bonus{
    list-style-type: none;
}
.list_img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.coin{
    vertical-align: middle;
}

#soldi{
    color:#FFD700;
}

ul.footer{
    list-style-type: square;
    padding-left: 10px;
}

span{
    display: inline;
}

a:hover{
    text-shadow: 0 0 6px #FFD700;
    cursor: help;
}

footer{
    background-color: #1c1c1c;
    border-top: solid;
    padding: 25px;
    font-size: 70%;
    color: gray;
}

footer span{
    display: flex;
    margin-bottom: 20px;
}

#copyright{
    position: static;
    text-align: center;
}